@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,,800,900&display=swap');
 *
 {
     margin :0;
     padding :0;
     box-sizing :border-box;
     font-family :'Poppins',sans-serif;
     scroll-behavior: smooth;
 }
 p{
     font-weight: 300;
     color : black;
 }
 body{
     min-height: 1000px;
 }
 .banner{
     position: relative;
     width : 100%;
     min-height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background: url(images/sixteen-miles-out-SvbDNnbipj0-unsplash.jpg);
     background-size: cover;
 }
.banner .content
{
    max-width: 900px;
    text-align: center;
}
.banner .content h2{
    font-size: 4em;
    color : grey


}
.btn
{
    font-size: 1em;
    color: white;
    background :  rgb(3, 3, 19);
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}
.btn:hover
{
    letter-spacing: 6px;
}
header{
    position :fixed;
    top:0;
    left:0;
    width:100%;
    padding:40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;

}
header.sticky{
    background: white;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,.05);

}

header .logo{
    color  : black;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
header.sticky .logo{
    color : black;

}
header .logo span{
  color : gray;

}
header .navigation {
    position: relative;
    display: flex;
    
}
header .navigation li{
    list-style:  none;
    margin-left: 30px;


}
header .navigation li a{
    text-decoration: none;
    color : rgb(7, 75, 80);
    font-weight: 300;

}
header .sticky .navigation li a{
    color: black;
}
header .navigation li a:hover
{
    color: brown;

}
section 
{
    padding : 100px;
}
.row{
    position :relative;
    width :100%;
    display: flex;
    justify-content: space-between;

}
.row .col50{
    position : relative ;
    width : 48%;

}
.titleText
{
    color : black;
    font-size:  2em;
    font-weight: 300;
}
.titleText span{
    color : grey;
    font-weight: 700;
    font-size: 1.5em;

}
.row .col50 .imgBx{
    position: relative;
    width :100%;
    min-height: 300px;
}
.row .col50 .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width:  100%;
    height: 100%;
    object-fit:cover;
    
}
.title{
    width : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 
.menu .content{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}
.menu .content .box{
    width : 340px;
    margin : 20px;
    border : 15px solid white;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.767);
}
.menu .content .box .imgBx{
    position: relative;
    width:100%;
    height:300px;

}
.menu .content .box .imgBx img{
    position: absolute;
    top:0;
    left:0;
    width :100%;
    height:  100%;
    object-fit: cover;

     
}
#id{
    padding-top: 20px;
}
#con{
    padding-top: 40px;
    
}
.msgContent{
    padding-top: 20px;
}
.logo .logoimg{
    padding-left:5px;
    padding-right:0px;
    width :100px;
    height : 100px;
}
#insta{
    width:150px
}
.msgContent span{
    color: rgb(91, 78, 201)
}